@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-image: url(../assets/login_1_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    position: relative;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    font-family: 'Noto Sans KR', sans-serif;
}

.index_title {
    position: absolute;
    font-size: 2.8rem;
    font-weight: 500;
    width: 880px;
    height: 80px;
    left: 50%;
    line-height: 80px;
    margin-left: -440px;
    background-color: #002963;
    color: #94c0fe;
}

.index_box {
    width: 880px;
    height: 580px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(241, 243, 245, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 2px 7px 15px 8px rgba(0,0,0,0.3);
}


.index_title > div{
    position: absolute;
    right: 0;
    top: 0;
}
.sub_title{
    position: absolute;
    font-size: 3.6rem;
    font-weight: 600;
    width: 760px;
    height: 15%;
    left: 50%;
    padding: 15px;
    margin-left: -380px;
    top: 100px;
}

.input_box {
    position: absolute;
    width: 700px;
    left: 50%;
    margin-left: -350px;
    top: 200px;
}


.input_box2 {
    position: absolute;
    width: 700px;
    border-radius: 10px;
    left: 50%;
    margin-left: -350px;
    top: 260px;

}

.input_box3 {
    position: absolute;
    width: 388px;
    height: 50px;
    left: 50%;
    margin-left: -194px;
    top: 320px;
    cursor: pointer;
    background-color: #002963;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}

.login_footer{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 50%;
    margin-left: -100px;
    top: 440px;
}
input {
    border: 1px solid #ddd;
    font-size: 1.6rem;
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
}

.text {
    width: 388px;
    height: 50px;
    line-height: 48px;
    border: none;
    text-indent: 10px;
}

button{
    border: none;
}

/* input:focus{
    outline: none;
} */