@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 62.5%; */
    font-family: 'Noto Sans KR', sans-serif;
}

.logo_box{
    width: 1000px;
    margin: 0 auto;
    padding-top: 120px;
    text-align: center;
    display: flex;
    justify-content: center; /*flex 가운데 정렬*/
}

.logo img{
    width: 180px;
    height: 50px;
    margin-right: 20px;
}

.logo_box .line{
    height: 20px;
    border-right: 2px solid #ddd;
    margin-top: 14px;
}

.logo_box .title{
    padding-left: 22px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -1px;
}

.header_text{
    margin: 0 auto;
    width: 1000px;
    border-bottom: 1px solid #dadada;
    text-align: center;
}

.header_text p{
    margin-top: 20px;
}

.big{
    font-size: 18px;
    padding-top: 20px;
}

.small{
    font-size: 14px;
    margin-bottom: 40px;
    color:#686867;
}

.login_box{
    width: 415px;
    height: 100%;
    margin: 0 auto;
    margin-top: 60px;
}

.flex{
    display: flex;
}

.flex_center{
    display: flex;
    justify-content: center;
}

.login_box input[type="text"]{
    width: 415px;
    height: 50px;
    padding: 0 14px;
    font-size: 14px;
    margin-top: 40px;
    border: 1px solid #ddd;
}

.login_box input[type="password"]{
    width: 415px;
    height: 50px;
    padding: 0 14px;
    font-size: 14px;
    margin-top: 10px;
    border: 1px solid #ddd;

}

input:focus{
    outline: 1px solid #178cff;
}

.login_box button{
    width: 415px;
    background-color: #178cff;
    color: #fff;
    height: 50px;
    border: none;
    margin-top: 30px;
    font-size: 16px;
    line-height: 50px;
    cursor: pointer;
}

.btn_1_on{
    display: block;
    position: relative;
    padding: 12px 20px;
    font-size: 15px;
    width: 50%;
    text-align: center;
    cursor: pointer;

    color: #333;
    background-color: #fff;

    border-top: 2px solid #333;
    border-left: 2px solid #333;
    border-right: 2px solid #333;

}

.btn_1_off{
    display: block;
    position: relative;
    padding: 12px 20px;
    font-size: 15px;
    width: 50%;
    text-align: center;
    cursor: pointer;

    color: #999;
    background-color: #f9f9f9;

    border-bottom: 2px solid #333;
}

.btn_2_on{
    display: block;
    position: relative;
    padding: 12px 20px;
    font-size: 15px;
    width: 50%;
    text-align: center;
    cursor: pointer;
    
    color: #333;
    background-color: #fff;

    border-top: 2px solid #333;
    border-left: 2px solid #333;
    border-right: 2px solid #333;
}

.btn_2_off{
    display: block;
    position: relative;
    padding: 12px 20px;
    font-size: 15px;
    width: 50%;
    text-align: center;
    cursor: pointer;

    color: #999;
    background-color: #f9f9f9;

    border-bottom: 2px solid #333;
}

.join{
    font-size: 16px;
    color: #666;
    margin-top: 20px;
    cursor: pointer;
}

.flex_center .line{
    border-right: 1px solid #666;
    height: 12px;
    margin-top: 27px;
    margin-left: 15px;
    margin-right: 15px;
}

.login_box_text{
    width: 415px;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
    font-size: 14px;
    color: #999;
}